/* m-plus-1p-100 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/M-Plus-1p/m-plus-1p-v28-latin_latin-ext-100.woff2') format('woff2');
}

/* m-plus-1p-300 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/M-Plus-1p/m-plus-1p-v28-latin_latin-ext-300.woff2') format('woff2');
}

/* m-plus-1p-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/M-Plus-1p/m-plus-1p-v28-latin_latin-ext-regular.woff2') format('woff2');
}

/* m-plus-1p-500 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/M-Plus-1p/m-plus-1p-v28-latin_latin-ext-500.woff2') format('woff2');
}

/* m-plus-1p-700 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/M-Plus-1p/m-plus-1p-v28-latin_latin-ext-700.woff2') format('woff2');
}

/* m-plus-1p-800 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/M-Plus-1p/m-plus-1p-v28-latin_latin-ext-800.woff2') format('woff2');
}

/* m-plus-1p-900 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/M-Plus-1p/m-plus-1p-v28-latin_latin-ext-900.woff2') format('woff2');
}

