:root {
  --font-text: "Montserrat";
  // --font-text: "Outfit";
  // --font-text: "Prompt";
  // --font-text: "M Plus 1p";

  --font-code: "Commissioner";
  // --font-code: "KoHo";
  // --font-code: "Nunito";
  // --font-code: "Ubuntu";

  --dark-bg: #121212;
  --dark-fg: #ccc;

  --light-bg: #f0ffff;
  --light-fg: #444;
  --light-fg-light: #ccc;
}
